<!DOCTYPE html>
<html lang="en">
<head>
  <title>Alpitude - A Trekking App</title>
  <link rel="stylesheet" href="/static/alpitude.css">
</head>
<body class="trail-screen">

  <div class="landing">
    <a class="brandmark" href="/">
      <img src="/static/alpitude.svg" alt="Alpitude logo">
      <span>Alpitude</span>
    </a>
    <h1>Your Next Adventure Starts Here</h1>
    <a href="/login" class="btn btn-lg btn-white">Login</a>
    <a href="/signup" class="btn btn-lg btn-white">Sign Up</a>
  </div>
</body>
</html>
